<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<h6>Create new users</h6>
<%= form_with(model: @user, url: admin_index_path, method: :post) do |f| %>
    <%= f.email_field :email, placeholder: "Email" , autofocus: true %>
    <%= f.select :role, User.roles.keys.map { |w| [w.humanize, w] }, include_blank: "Select a role" %>
    <br/>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
    <br/>
    <%= f.submit %>
<% end %>
<hr>

<h6> Change user's role </h6>
<% @users.each do |user| %>
    <%= form_for(user, url: admin_path(user), remote: true, method: :patch) do |f| %>
        <p><%= f.text_field :email %> - <%= f.select(:role, User.roles.keys.map { |w| [w.humanize, w] }) %> - <%= f.submit "update" %></p>
    <% end %>
    
<% end %>